<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.1.xsd">
        
     <sec:http use-expressions="true">
        <sec:intercept-url pattern="/admin/**" access="isAuthenticated()" />
        <sec:intercept-url pattern="/reception/**" access="isAuthenticated()" />
        <sec:intercept-url pattern="/**" access="permitAll"/>
        <sec:form-login 
        	login-page="/login.xhtml"
            authentication-failure-url="/login.xhtml?error=1"
            authentication-success-handler-ref="myAuthenticationSuccessHandler"
            authentication-details-source-ref="myAuthenticationDetailsSource"
            username-parameter="login:username" 
            password-parameter="login:password" />
        <sec:logout
            invalidate-session="true"
            delete-cookies="JSESSIONID"
            
            success-handler-ref="customLogoutSuccessHandler"/>
    </sec:http>

    <sec:authentication-manager>
        <!-- create a custom AuthenticationProvider class to tune the login process -->
        <sec:authentication-provider ref="myAuthenticationProvider" />
    </sec:authentication-manager> 
</beans:beans>